$button-color: #ffffff;
$button-background: #3b82f6;
$button-font-size: 1.5rem;

:root {
    font-size: 0.7em;
}



html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

html.dark {
    background: #121212;
}



.btn {
    font-size: $button-font-size;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $button-background;
    color: $button-color;
    border-radius: 20px;
    cursor: pointer;
    height: 2.5rem;
    width: 15rem;
    font-weight: 700;

}

input,
textarea {
    text-decoration: none;
    width: 50%;
    background: transparent;

}

input {
    border-bottom: 2px solid grey;
}

textarea {
    border: 2px solid grey;
    border-radius: 10px;
    height: 140px;
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
}